@import 'https://cdn.jsdelivr.net/npm/@vue-flow/core@1.20.2/dist/style.css';
@import 'https://cdn.jsdelivr.net/npm/@vue-flow/core@1.20.2/dist/theme-default.css';
@import 'https://cdn.jsdelivr.net/npm/@vue-flow/controls@latest/dist/style.css';
@import 'https://cdn.jsdelivr.net/npm/@vue-flow/minimap@latest/dist/style.css';
@import 'https://cdn.jsdelivr.net/npm/@vue-flow/node-resizer@latest/dist/style.css';

@import '../../../node_modules/@fortawesome/fontawesome-free/css/all.css';

body {
  background-color: #fafbfb;
  ;
  color: #1F1F1F !important;
  font-family: Arial, Helvetica, sans-serif;
}

.reportTitle {
  margin-bottom: 5px;
}

.small-text {
  font-size: 14px;
  margin: 0px;
  color: #888888;
}

.title-text {
  font-weight: bold;
  color: inherit;
  font-size: 14px;
  padding: 2px;
}

.iconsDiv {
  width: 69px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.iconsDiv:hover {
  background-color: #F5F5F5;
  border-radius: 4px;
}

.iconsDiv button {
  border: none;
  background: none;
  outline: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.button-align {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.activeIconDiv {
  background-color: #2FB800;
  color: #fff;
  cursor: pointer;
}

.iconsDiv a {
  color: #2E363C
}

.reportTableHeading th {
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 23px !important;
  color: #FFFFFF !important;
  border-left: 1px solid #BBBBBB !important;
  border-right: 1px solid #BBBBBB !important;
}

.reportTableContent td {
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 16px !important;
  color: #1F1F1F !important;
}

.modalReportTableContent td {
  color: #2E363C;
  font-size: 12px;
  padding: 5px;
  vertical-align: middle;
}

.modalTable {
  display: table;
  height: 100%;
  width: 100%
}

.ModaltableCell {
  display: table-cell;
  vertical-align: middle;
}

.form-control.is-invalid {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23e55353' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23e55353' stroke='none'/%3e%3c/svg%3e");
}

.form-control {
  background-color: #fff !important;
}

.is-invalid .mx-input {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23e55353' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23e55353' stroke='none'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right;
  border-color: #dc3545;
  background-position-x: 93%;
  background-size: 17px;
}

.mx-datepicker-popup {
  z-index: 10000;
}

/* #toast-container>div {
  width: 350px;
  height: 56px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  box-shadow: none !important;
} */

#toast-container>div:hover {
  box-shadow: none !important;
}

#toast-container>.toast-success {
  background-image: none !important;
}

#toast-container>.toast:before {
  position: fixed;
  font-family: FontAwesome;
  font-size: 14px;
  line-height: 16px;
  float: left;
  color: #FFF;
  padding-right: 0.5em;
  margin: auto 0.5em auto -1.5em;
}

#toast-container>.toast-success:before {
  content: "\f058";
  color: #006B00;
  position: absolute;
  top: 20px;
  left: 12%;
}

/* .toast-success {
  background-color: #e9f7da !important;
} */

.toast-success .toast-message {
  color: #006B00;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin-top: 2px;
}

.toast-close-button {
  background: #1F1F1F;
  margin-top: 12px !important;
  margin-right: 10px;
}

.toast-success a {
  color: #2898E0;
  text-decoration: none;
}

.toast-success a:hover {
  color: #2898E0;
}

.toast-error {
  background-color: rgba(201, 0, 0, 0.753) !important;
}

.text-danger {
  font-size: 14px;
}

button.toast-close-button {
  color: #1F1F1F;
  margin-top: 7px;
}

.fs-14 {
  font-size: 14px !important;
}

.fs-13 {
  font-size: 13px !important;
}

.fs-12 {
  font-size: 12px !important;
}

.fs-15 {
  font-size: 15px !important;
}

.fs-16 {
  font-size: 16px !important;
}

.p-22 {
  padding: 0.8rem !important;
}

.filter-label,
.filter-inputs {
  width: 100%;
}

/* .dropdown-toggle {
  padding: 0px 0px 6px 10px;
}

.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: none !important;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

.dropdown {
  width: 71px;
  height: auto;
  position: absolute !important;
  left: -25px;
  top: 44px;
  border-radius: 4px;
  background: #FFFFFF;
  border: 1px solid #BBBBBB;
  display: block;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
} */

.dropdown-toggle {
  box-shadow: none !important;
}

.dropdown-menu {
  min-width: 4rem !important;
  padding: 0px !important;
}

.dropdown-item {
  padding: 0.25rem 1.85rem !important;
}

.show {
  display: block !important;
  transform: scale(1);
}

ul.dropdown li {
  list-style-type: none;
}

ul.dropdown li a {
  text-decoration: none;
  padding: 0em 1em;
  display: block;
  color: black;
}

.mx-input-wrapper input.mx-input {
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  padding: 6px 25px;
  padding-left: 16px !important;
  font-size: 14px;
  line-height: 1.4;
  color: #555;
  background-color: #fff;
  border: 1px solid #BBBBBB;
  border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.mx-input-wrapper input.mx-input:focus {
  border: 1px solid #2898E0 !important;
  box-shadow: none !important;
}

.svg-inline--fa {
  height: 1.2em !important;
  overflow: visible;
  vertical-align: -0.3em !important;
}

.multiselect__single {
  margin-top: 3px;
  font-size: 14px;
}

.multiselect__spinner {
  top: 5px;
}

.nav-buttons {
  position: absolute;
  bottom: 0px;
  width: 90%;
}

.btn .fa-solid {
  font-size: 1rem !important;
}

@media screen and (max-width: 820px) {
  .hide {
    display: none;
  }

  .nav-buttons {
    position: absolute;
    bottom: -7px;
    right: 4%;
    width: 53% !important;
  }
}

@media screen and (max-width: 570px) {
  .svg-inline--fa {
    height: 1em !important;
    margin-bottom: 2px;
    overflow: visible;
    vertical-align: -0.3em !important;
  }
}

.vue-treeselect__multi-value-item {
  display: flex;
  align-items: center;
  height: 24px;
  color: #1F1F1F !important;
  background-color: #F4F4F4 !important;
}

.vue-treeselect__single-value {
  top: 11px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.vue-treeselect__multi-value-label {
  color: #1F1F1F !important;
  background-color: #F4F4F4 !important;
  overflow: hidden !important;
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
  max-width: 122px !important;
  font-size: 14px !important;
  line-height: 16px;
  padding-right: 8px;
  padding-left: 8px;
}

.vue-treeselect__placeholder {
  color: #BBBBBB;
  font-weight: 400;
  font-size: 14px;
  margin-top: 3px;
  margin-left: 5px;
  padding-left: 0px !important;
}

.vue-treeselect__input,
.vue-treeselect__sizer {
  font-size: 14px;
}

.vue-treeselect__menu-container {
  font-size: 14px;
}

.vue-treeselect__control-arrow-container {
  vertical-align: middle;
  line-height: revert;
}

.vue-treeselect__value-remove {
  color: #FFFFFF;
  border-left: none;
  margin: 0 10px 0 0px;
  padding: 1px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #1F1F1F;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vue-treeselect__value-remove>svg {
  width: 7px;
  height: 6px;
}

.vue-treeselect__multi-value-item {
  border-radius: 4px;
}

.vue-treeselect__multi-value-item:hover .vue-treeselect__value-remove {
  color: #FFFFFF;
}

.multiselect__content-wrapper {
  max-height: 160px !important;
  border-radius: 4px;
}

.multiselect__tag-icon {
  cursor: pointer;
  margin-left: 7px;
  position: absolute;
  right: 2px;
  top: 5px;
  bottom: 0;
  font-weight: 700;
  font-style: normal;
  width: 22px;
  text-align: center;
  line-height: 17px;
  transition: all .2s ease;
  border-radius: 5px;
}

.multiselect__tag {
  overflow: hidden !important;
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
  max-width: 122px !important;
  font-size: 12px;
}

.multiselect__input {
  font-size: 12px !important;
}

.multiselect__tags {
  min-height: 48px;
  display: block;
  padding: 11px 40px 0px 8px;
  border-radius: 4px;
  border: 1px solid #bbbbbb;
  background: #fff;
  font-size: 14px !important;
}

.multiselect__tag {
  position: relative;
  display: inline-block;
  padding: 4px 32px 4px 8px;
  border-radius: 4px;
  margin-right: 10px;
  margin-bottom: 0px !important;
  line-height: inherit;
  display: flex;
  align-items: center;
  height: 24px;
  color: #1F1F1F !important;
  background-color: #F4F4F4 !important;
}

.multiselect__tag-icon {
  color: #FFFFFF;
  border-left: none;
  margin: 2px 10px 0 8px;
  padding: 1px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #1F1F1F;
  display: flex;
  align-items: center;
  justify-content: center;
}

.multiselect__tag-icon::after {
  content: "×";
  color: white;
  font-size: 12px;
  margin-bottom: 0.5px;
}

.multiselect--active .multiselect__tags {
  border: 1px solid #2898E0 !important;
  border-radius: 4px !important;
}

.multiselect__option--highlight {
  background: #f5f5f5 !important;
  color: #1F1F1F !important;
  outline: none;
}

.multiselect__option--highlight::after {
  content: attr(data-select);
  font-size: 10px;
  opacity: 0;
  background: #f5f5f5 !important;
  color: #1F1F1F !important;
}

multiselect__option::placeholder {
  opacity: 0;
}

.multiselect__option {
  font-size: 12px;
}

.multiselect__strong {
  margin-bottom: 8px;
  line-height: 25px;
  display: inline-block;
  vertical-align: top;
  font-size: 11px;
  font-weight: 500;
}

.vue-treeselect__control-arrow {
  display: inline-block;
  width: 11px;
  height: 8px;
}

.vue-treeselect__menu {
  max-height: 252px;
}

.vue-treeselect__menu::-webkit-scrollbar {
  width: 20px;
  height: 20px;
}

.vue-treeselect__menu::-webkit-scrollbar-thumb {
  border: 7px solid transparent;
  -webkit-border-radius: 18px;
  border-radius: 18px;
  background: #D9D9D9;
  background-clip: content-box;
}

.vue-treeselect__indent-level-0 .vue-treeselect__option {
  padding-left: 0px;
}

.vue-treeselect__label {
  padding-left: 16px !important;
}

.vue-treeselect__menu::-webkit-scrollbar-thumb:hover {
  border: 7px solid transparent;
  -webkit-border-radius: 18px;
  border-radius: 18px;
  background: #BBBBBB;
  background-clip: content-box;
}

.vue-treeselect__control {
  border-radius: 4px !important;
  border: 1px solid #BBBBBB !important;
}

.vue-treeselect--open-below .vue-treeselect__menu {
  border-radius: 4px !important;
  line-height: 236.8%;
  margin-top: 0px;
  border-top-color: #BBBBBB;
  padding-top: 0px;
  padding-bottom: 0px;
  overflow: overlay;
}

.vue-treeselect--open-above .vue-treeselect__menu {
  line-height: 236.8%;
  margin-bottom: 0 !important;
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 4px;
  border-bottom-color: #BBBBBB;
  overflow: overlay;
}

.vue-treeselect--focused:not(.vue-treeselect--open) .vue-treeselect__control {
  border: 1px solid #2898E0 !important;
  box-shadow: none !important;
}

.vue-treeselect--open.vue-treeselect--open-below .vue-treeselect__control {
  border: 1px solid #2898E0 !important;
  box-shadow: none !important;
  border-radius: 4px !important;
}

.vue-treeselect--open.vue-treeselect--open-above .vue-treeselect__control {
  border: 1px solid #2898E0 !important;
  box-shadow: none !important;
  border-radius: 4px !important;
}

.vue-treeselect__limit-tip-text {
  font-size: 10px !important;
}

.vue-treeselect__indent-level-1 .vue-treeselect__option {
  padding-left: 0 !important;
}

.vue-treeselect__option-arrow-container,
.vue-treeselect__option-arrow-placeholder {
  width: 8px !important;
}

.vue-treeselect__x-container {
  display: none;
}

.vue-treeselect__control-arrow {
  color: #1F1F1F;
}

.vue-treeselect--searchable .vue-treeselect__input-container {
  padding-left: 0px;
}

.mx-input:disabled,
.form-select:disabled,
.vue-treeselect--disabled .vue-treeselect__control {
  background: #F4F4F4 !important;
  border: 1px solid #F4F4F4 !important;
  cursor: not-allowed !important;
  border: none !important;
}

.label-disabled {
  color: #BBBBBB !important;
}

.form-control:focus {
  border: 1px solid #2898E0 !important;
  box-shadow: none !important;
}

.form-select:focus {
  border: 1px solid #2898E0 !important;
  box-shadow: none !important;
}

#sub-table-ka {
  margin-bottom: 0px
}

#sub-table-ka>thead>tr>th:nth-child(n) {
  min-width: 100px;
}

.sub-table td {
  text-align: left !important;
}

.sub-table th {
  text-align: center !important;
}

#sub-table-srr {
  margin-bottom: 0px;
}

#sub-table-srr>tbody>tr>td:nth-child(n+1) {
  text-align: center;
}

#sub-table-srr>tbody>tr>td:nth-child(n+2) {
  text-align: center;
}

#sub-table-rst>tbody>tr>td:nth-child(2n+2) {
  text-align: right;
  white-space: nowrap;
}

#sub-table-exp>thead>tr>th {
  white-space: nowrap;
}

.btn-primary:disabled,
.btn-primary.disabled {
  background-color: #21252982 !important;
  border-color: #21252900 !important;
}

.sub-table>thead>tr>th,
#sub-table-ka>thead>tr>th,
#sub-table-exp>thead>tr>th,
#sub-table-srr>thead>tr>th {
  background-color: var(--bs-table-bg) !important;
  color: #212529;
  font-weight: bold;
  padding: 6px;
}

.sub-table>tbody>tr>td,
#sub-table-ka>tbody>tr>td,
#sub-table-exp>tbody>tr>td,
#sub-table-srr>tbody>tr>td {
  background-color: var(--bs-table-bg) !important;
  color: #212529;
  border-top: none;
}

#sub-table-rst>tbody>tr>td {
  background-color: #f9fafb00 !important;
  border-top: none;
}

.w-20 {
  width: 20% !important;
}

.w-15 {
  width: 15% !important;
}

.w-10 {
  width: 10% !important;
}

.w-15 {
  width: 15% !important;
}

.w-16 {
  width: 16% !important;
}

.w-18 {
  width: 18% !important;
}

.w-52 {
  width: 52% !important;
}

.w-35 {
  width: 35% !important;
}

.w-30 {
  width: 30% !important;
}

.w-25 {
  width: 25% !important;
}

.pointer {
  cursor: pointer;
}

/* nav section */
#pageNavibox {
  background-color: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  /*border-top: 1px solid #DADADA;*/
  height: 48px;
  width: 100%;
}

#pageNavibox .container {
  height: 3em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  border-top: 0;
}

#pageNavibox #subheader {
  padding-bottom: 0;
  padding-top: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}

#pageNavibox #subheader a.submenuTxt_sel.active {
  background: transparent;
  border-bottom-color: #5db407 !important;
  color: #1F1F1F !important;
}

#pageNavibox #subheader a.submenuTxt_sel:hover {
  border-bottom: 0.1875rem solid transparent;
  background: transparent;
  border-bottom-color: #BBBBBB;
  color: #949494;
}

#pageNavibox #subheader a.submenuTxt_sel.disabled:hover {
  background: transparent;
  cursor: default;
  color: #949494;
  border-bottom-color: transparent !important;
}

#pageNavibox #subheader a.submenuTxt_sel,
#pageNavibox #subheader a.submenuTxt_unsel,
#pageNavibox #subheader a.submenuTxt_new {
  border-bottom: 0.1875rem solid transparent;
  color: #949494;
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin: 0 28px;
  padding: 7px 0;
  float: none;
  text-shadow: none;
}

.accordion-item.mb-3 {
  border-top: 0 !important;
}

.accordion-item {
  border: 0 !important;
  border-radius: 4px !important;
}

.accordion-button {
  background: #FFFFFF !important;
  border: 1px solid #BBBBBB;
  border-radius: 4px !important;
  height: 56px;
}

.btn-submit {
  border: 1.5px solid #f1f1f1 !important;
  font-weight: 350 !important;
  font-size: normal !important;
  background-color: #FFFFFF !important;
  border: 1px solid #949494 !important;
  border-radius: 4px !important;
}

.btn-submit-color {
  background-color: #5db407 !important;
  color: #fff !important;
  border: none !important;
}

.btn-submit:disabled {
  background-color: #DADADA !important;
  color: #fff !important;
  cursor: not-allowed;
  border: none !important;
}

.btn-primary:disabled {
  background-color: #DADADA !important;
}

/* scrollbar */
.quore-custom-scrollbar::-webkit-scrollbar {
  width: 21px;
  height: 21px;
}

.quore-custom-scrollbar-hide::-webkit-scrollbar {
  width: 0 !important;
  height: 21px;
}

div#table-one-scroll::-webkit-scrollbar,
div#table-two-scroll::-webkit-scrollbar,
div#table-sche-scroll::-webkit-scrollbar {
  height: 0px
}

.quore-custom-scrollbar::-webkit-scrollbar-thumb {
  border: 7px solid transparent;
  -webkit-border-radius: 18px;
  border-radius: 18px;
  background: transparent;
  background-clip: content-box;
}

.quore-custom-scrollbar:hover::-webkit-scrollbar-thumb {
  border: 7px solid transparent;
  -webkit-border-radius: 18px;
  border-radius: 18px;
  background: #D9D9D9;
  background-clip: content-box;
}

.quore-custom-scrollbar::-webkit-scrollbar-thumb:hover {
  border: 7px solid transparent;
  -webkit-border-radius: 18px;
  border-radius: 18px;
  background: #BBBBBB;
  background-clip: content-box;
}

.header-divider {
  border-bottom: 1px solid #EDEDED;
  margin-top: 18px !important;
  margin-bottom: 6px !important;
  width: 98% !important;
  margin-left: 11px;
}

.divider {
  border-bottom: 1px solid #EDEDED;
  margin-top: 30px !important;
  margin-bottom: 15px !important;
  width: calc(100% - 23px) !important;
  margin-left: 11px;
}

.btn-link {
  box-shadow: none !important;
}

.mx-icon-calendar,
.mx-icon-clear {
  right: 16px !important;
}

/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=search]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}


/* modal background */

.modal-mask {
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(47, 54, 60, 0.3) !important;
  backdrop-filter: blur(5px) !important;
  /* Note: backdrop-filter has minimal browser support */
  display: table;
  transition: opacity 0.5s ease;
}

.modal-content {
  border: 0px solid rgba(0, 0, 0, .2) !important;
}

.vue-treeselect__single-value {
  padding-left: 0px;
}

.vue-treeselect--single .vue-treeselect__input {
  width: 100%;
  height: 100%;
}

.vue-treeselect__option-arrow-container,
.vue-treeselect__option-arrow-placeholder {
  display: none;
}

.vue-treeselect__value-remove>svg {
  width: 8px;
  height: 6px;
}

.vue-treeselect--open-below .vue-treeselect__menu {
  box-shadow: none;
}

.vue-treeselect--open-above .vue-treeselect__menu {
  box-shadow: none;
}

.vue-treeselect__icon-warning {
  display: none;
}

.custom-hover:hover {
  background-color: #F4F4F4 !important;
}

.modal-x-btn {
  position: absolute;
  left: calc(100% - 30px);
  top: 8px;
  cursor: pointer;
}

.vue-treeselect__icon-warning {
  display: none;
}

.vue-treeselect__icon-container {
  display: none;
}

.vue-treeselect__tip-text {
  padding-left: 11px;
}

.vue-treeselect--disabled .vue-treeselect__multi-value-item {
  border: none;
}

/*-------------------------------
  Date Picker custom styles start
---------------------------------*/
.mx-datepicker-main.arrow-bottom::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 47%;
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #FFFFFF;
  border-style: solid;
  border-color: #BBBBBB;
  border-width: 1.5px 0 0 1.5px;
  box-sizing: border-box;
  transform-origin: center;
  transform: rotate(225deg) translateX(-47%);
}

.mx-datepicker-main.arrow-top::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 47%;
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #FFFFFF;
  border-style: solid;
  border-color: #BBBBBB;
  border-width: 1.5px 0 0 1.5px;
  box-sizing: border-box;
  transform-origin: center;
  transform: rotate(405deg) translateX(-47%);
}

.mx-datepicker-popup {
  font-family: 'latoregular';
  box-shadow: none;
  border: 1px solid #BBBBBB;
  border-radius: 4px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.mx-datepicker-content {
  display: flex;
  flex-direction: column-reverse;
  color: #1F1F1F;
}

.mx-datepicker-header {
  padding: 6px;
  border-bottom: none;
  text-align: center;
}

.mx-calendar-header-label button {
  font-weight: 400;
  font-size: 16.8px;
  line-height: 24px;
}

.mx-btn {
  color: #1F1F1F;
}

.mx-calendar-panel-date .mx-btn-icon-double-left,
.mx-calendar-panel-date .mx-btn-icon-double-right {
  display: none;
}

.mx-calendar {
  box-sizing: border-box;
  width: 264px;
  padding: 16px 4px 0px;
  border-bottom: 1px solid #BBBBBB;
}

.mx-table {
  border-collapse: collapse;
}

.mx-table-date th {
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  color: #1F1F1F;
}

.mx-calendar-content .cell {
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.mx-calendar-header {
  padding-left: 12px;
  padding-right: 12px;
}

.mx-table.mx-table-date .cell {
  padding: 0 2px;
  background-clip: content-box;
  border: 3px solid transparent;
  position: relative;
}

.mx-table.mx-table-date .cell.active {
  border-radius: 50%;
  color: #FFFFFF;
  background-color: transparent;
}

.mx-table-date .cell.not-current-month {
  color: #BBBBBB;
  background: none;
}

.mx-icon-left:before,
.mx-icon-right:before {
  width: 12px;
  height: 12px;
  border-width: 3px 0 0 3px;
  border-radius: 1.5px;
}

.mx-table.mx-table-date .cell::after {
  content: " ";
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
}

.mx-table.mx-table-date .cell:hover::after {
  background-color: #F4F4F4;
}

.mx-table.mx-table-date .cell:hover {
  background-color: transparent !important;
}

.mx-table.mx-table-date .cell.active::after {
  background-color: #5DB407 !important;
}

.mx-table.mx-table-month .cell:hover,
.mx-table.mx-table-year .cell:hover {
  background-color: #F4F4F4;
}

.mx-table.mx-table-month .cell.active,
.mx-table.mx-table-year .cell.active {
  background-color: #5DB407 !important;
}

/*-------------------------------
  Date Picker custom styles end
---------------------------------*/
.inflation-field {
  width: 100%;
  height: 48px;
  padding: 4px 16px;
  border: 1px solid #BBBBBB;
  border-radius: 4px;
  background: #FFFFFF;
  color: #1F1F1F;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.inflation-field:focus {
  outline: 1px solid transparent;
  border: 1px solid #2898E0;
  ;
}

.mb-1half {
  margin-bottom: 1.5px !important;
}

.cannot-run-mgs {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #C20017;
  margin-top: 8px;
}

.mx-input-wrapper input.mx-input:disabled {
  color: #BBBBBB !important;
}

/* table map */

/* .vue-flow {
  height: 70vh;
} */
.vue-flow__minimap {
  transform: scale(75%);
  transform-origin: bottom right;
}

.dndflow {
  flex-direction: column;
  display: flex;
  height: 100%
}

.dndflow aside {
  color: #fff;
  font-weight: 700;
  border-right: 1px solid #eee;
  padding: 15px 10px;
  font-size: 12px;
  background: rgba(16, 185, 129, .75);
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, .3);
  box-shadow: 0 5px 10px #0000004d
}

.dndflow aside .nodes>* {
  margin-bottom: 10px;
  cursor: grab;
  font-weight: 500;
  -webkit-box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, .25);
  box-shadow: 5px 5px 10px 2px #00000040
}

.dndflow aside .description {
  margin-bottom: 10px
}

.dndflow .vue-flow-wrapper {
  flex-grow: 1;
  height: 100%
}

@media screen and (min-width: 640px) {
  .dndflow {
    flex-direction: row
  }

  .dndflow aside {
    min-width: 25%
  }
}

@media screen and (max-width: 639px) {
  .dndflow aside .nodes {
    display: flex;
    flex-direction: row;
    gap: 5px
  }
}

.dndflow aside {
  background: #F8F8F8;
  border-right: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.dndflow aside .nodes > * {
  width: 100%;
  margin-bottom: 0px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.shadow-style {
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  box-shadow: 10px 0 20px -5px rgba(0, 0, 0, 0.35);
}

.accordion-button:focus {
  box-shadow: none !important;
}

.btn-style {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.accordion-button::after {
  background-image: url(../../../public/images/plus.png);
}

.accordion-button:not(.collapsed)::after {
  background-image: url(../../../public/images/minus.png);
}

.vue-flow__node-input, .vue-flow__node-default, .vue-flow__node-output {
  border-color: transparent;
}

.vue-flow__node-input::after {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  content: "";
  background-image: url(../../../public/images/plus.png);
  background-repeat: no-repeat;
  background-size: 1.25rem;
  transition: transform 0.2s ease-in-out;
}

.vue-flow__node-input:not(.collapsed)::after {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  content: "";
  background-image: url(../../../public/images/minus.png);
  background-repeat: no-repeat;
  background-size: 1.25rem;
  transition: transform 0.2s ease-in-out;
  transform: rotate(-180deg);
}

.nav-tabs {
  border-bottom: 0px !important;
}