$table-striped-bg: white;
$table-group-separator-color:#dee2e6;
$info: rgb(23,162,184);
$primary: #1F1F1F;
$secondary: #6D6D6D;
$body-bg:#F8F8F8;
$white: white;
$dropDownBgColor:lighten(#dddddd, 5%);
$dark:#1F1F1F;
$btnWidth: 8em;
$sm-font: 15px;
$md-font: 17px;
$lg-font: 20px;
$badge-font-size:.75em;
$badge-font-weight:600;
$badge-color:$white;